.editor {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.article-container {
  position: absolute;
  top: 20vh;
  left: 20vh;
  right: 20vh;
  display: flex;
  z-index: 100;
  padding: 1.5rem;
  background-color: white;
  opacity: 0.9;
  border-radius: 2rem;
  color: rgb(5, 5, 5);
}

.article {
  display: flex;
  flex-direction: column;
}
.article input {
  font-size: 1.5rem;
  color: black;
}
.title {
  width: 100%;
  border-bottom: 1px solid;
  padding-bottom: 1rem;
}
.contents {
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  resize: none;
}

.article button {
  border: none;
  background-color: #99ccdd;
  border: none;
  border-radius: 0.3rem;
  font-weight: bolder;
  font-size: 1rem;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 96%;
  background-color: #070707;
  height: 1px;
}
