.result {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.result-container {
  position: absolute;
  top: 20vh;
  left: 10vw;
  right: 10vw;
  bottom: 20vh;
  display: block;
  z-index: 100;
  padding: 1.5rem;
  background-color: white;
  opacity: 0.9;
  border-radius: 2rem;
  color: rgb(5, 5, 5);
  flex-direction: row;
  overflow: auto;
}

.result-title {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  flex-direction: column;
  font-size: xx-large;
  font-weight: bolder;
}

.cities {
  display: grid;
  height: auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(50px, auto);
  margin: 5vh;
  overflow: auto;
}

.city {
  border: 5px solid black;
  background-size: cover;
  color: white;
}

@media screen and (max-width: 640px) {
  .result-container {
    position: absolute;
    top: 20vh;
    left: 10vw;
    right: 10vw;
    bottom: 20vh;
    display: block;
    z-index: 100;
    padding: 1.5rem;
    background-color: white;
    border-radius: 2rem;
    color: black;
    opacity: 0.9;
    overflow: auto;
  }

  .result-title {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
    font-size: large;
    font-weight: bolder;
  }

  .cities {
    display: flex;
    flex-direction: column;
    margin: 2vh;
    font-size: x-small;
  }
}
