.schedule-containaer {
  background-color: aliceblue;
}
.ticket-container {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 15%;
  left: 15%;
  background-color: aliceblue;
}

.info {
  position: fixed;
  top: 10%;
  left: 15%;
  background-color: aliceblue;
}
.ticket {
  flex: auto;
  border: 1px solid black;
  text-align: center;
}
.article-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 40%;
}
.tip {
  position: fixed;
  top: 30%;
  left: 15%;
  background-color: aliceblue;
}

.view {
  display: flex;
  flex-direction: row;
}
.article {
  flex: auto;
}
.article p {
  flex: auto;
}
