.view {
  width: auto;
  height: auto;
  overflow: hidden;
  margin: 0px auto;
  position: relative;
  background: none;
}

.aticleview {
  top: 50%;
  left: 50%;
  position: absolute;
  display: block;
  z-index: 99;
  padding: 2rem;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  background-color: white;
  opacity: 0.9;
  border-radius: 2rem;
  color: rgb(5, 5, 5);
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 96%;
  background-color: #070707;
  height: 1px;
}
